// Colores
$color-blanco: #fff;
$color-letra-gris: #4b4b4b;
$color-shadow-button: 0 0 0 0.25rem rgb(253 13 120 / 25%);
$color-border-button: rgb(254 134 136);
$color-rosa: #e95066;
$color-rosa-oscuro: #bd3548;

// Fuentes
$montserrat-bold: "montserrat-bold";
$montserrat-regular: "montserrat-regular";
