/* BREAKPOINTS PARA LAS MEDIA QUERYS */
$breakpoint-fin-mobile: 767px;
$breakpoint-inicio-tablet: 768px;
$breakpoint-fin-tablet: 991px;
$breakpoint-desktop: 992px;
$breakpoint-desktopXL: 1200px;
$breakpoint-desktopXXL: 1400px;

// Colores
$color-blanco: #fff;
$color-gris: #eeee;
$color-letra-gris: #4b4b4b;
$color-gris-v2: #8a8a8a;
$color-gris-placeholder: #bababa;
$color-shadow-button: 0 0 0 0.25rem rgb(253 13 120 / 25%);
$color-rosa-opaco: #fad5da;
$color-border-button: rgb(254 134 136);
$color-rosa: #e95066;
$color-rosa-oscuro: #bd3548;
$color-azul: #1074bc;

// Fuentes
$montserrat-bold: "montserrat-bold";
$montserrat-regular: "montserrat-regular";
