.card-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;

  @include media(desktop) {
    width: 100%;
  }

  @include media(desktopXXL) {
    width: 67%;
  }
  .card-surgeries {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    width: 250px;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    .img {
      width: 60px;
      height: 60px;
    }
    .title {
    }
    .final {
    }
  }
}
