.patient-form-container {
  display: flex;
  gap: 30px;
  padding: 30px;
  flex-direction: column;

  .forms-container {
    display: flex;
    gap: 30px;
    flex-direction: column;

    .group-form {
      background-color: $color-blanco;
      border-radius: 4px 4px 0 0;
      width: fit-content;
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      -ms-border-radius: 4px 4px 0 0;
      -o-border-radius: 4px 4px 0 0;

      .header {
        background: $color-gris-head-forms;
        padding: 10px 15px;
        border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        -ms-border-radius: 4px 4px 0 0;
        -o-border-radius: 4px 4px 0 0;
      }

      .body {
        padding: 15px;

        form {
          display: flex;
          gap: 30px;
          width: 100%;
          flex-wrap: wrap;

          .item {
            label {
              font-size: 14px;
              font-family: $montserrat-bold;
            }

            display: flex;
            flex-direction: column;
            gap: 3px;
          }
          .select {
            min-width: 200px;
            width: fit-content;
            max-width: 300px;
          }
          .tlf {
            min-width: 110px;
            width: fit-content;
            max-width: 110px;
          }
          .value {
            width: fit-content;
            max-width: 70px;
          }
          .text {
            width: 150px;
          }
          .requerido {
            font-size: 14px;
          }
          .textarea {
            width: 370px;
          }
          .calendar {
            width: 180px;
            height: 30px;

            .MuiInputBase-input {
              padding: 4px 15px !important;
            }
          }
        }
      }
    }
  }
}
