.container-patients {
  padding: 30px;
  padding-top: 50px;
  width: 100%;
  background: $color-gris;
  font-family: $montserrat-regular;

  .container-t {
    .base {
      display: grid;
      gap: 15px;
      .year-container {
        display: grid;
        gap: 20px;

        .months-container {
          display: grid;
          gap: 30px;

          .month-container {
            background: $color-blanco;
            padding: 10px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

            .record {
              color: $color-rosa-oscuro;

              @include media(desktop) {
                font-size: 13px;
              }
              @include media(desktopXXL) {
                font-size: 16px;
              }
            }

            h5 {
              margin: 15px 11px;
            }
          }
        }
      }
    }
    .center {
      text-align: center;
    }
    .btnedit {
      display: flex;
      justify-content: center;

      @include media(desktop) {
        font-size: 13px;
      }
      @include media(desktopXXL) {
        font-size: 16px;
      }
    }

    .table {
      font-family: $montserrat-regular;
      thead {
        tr {
          th {
            align-content: baseline;
            text-align: center;
            @include media(desktop) {
              font-size: 13px;
            }
            @include media(desktopXXL) {
              font-size: 16px;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 14px;
            @include media(desktop) {
              font-size: 13px;
            }
            @include media(desktopXXL) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
