.ant-layout-sider {
  background: $color-rosa;

  .ant-menu {
    background: transparent;

    .ant-menu-sub {
      background: transparent !important;
    }

    .ant-menu-item {
      &:hover {
        background: $color-rosa-oscuro !important;
      }
      .ant-menu-title-content {
        a {
          text-decoration: none;
        }
      }
    }

    .disabled-menu-item {
      &:hover {
        background: transparent !important;
      }
    }
    .ant-menu-item-selected {
      background-color: $color-rosa-oscuro;
      .ant-menu-title-content {
        a {
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}
