:where(.css-dev-only-do-not-override-ccdg5a) {
  .ant-menu-dark {
    .ant-menu-item,
    > .ant-menu .ant-menu-item,
    .ant-menu-submenu-title,
    > .ant-menu .ant-menu-submenu-title {
      color: rgb(255, 255, 255);
    }
  }
}
.ant-layout-sider {
  background: $color-rosa;

  .ant-menu {
    background: transparent;

    .ant-menu-sub {
      background: transparent !important;
    }

    .ant-menu-item {
      &:hover {
        background: $color-rosa-oscuro !important;
      }
      .ant-menu-title-content {
        a {
          text-decoration: none;
        }
      }
    }

    .ant-menu-item-selected {
      background-color: $color-rosa-oscuro;
      .ant-menu-title-content {
        a {
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}
