.saludo {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include media(desktopXXL) {
    justify-content: flex-start;
  }
}

.welcome-message {
  width: fit-content;
  background: $color-azul;
  display: flex;
  padding: 23px;
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  @include media(desktop) {
    width: 85%;
  }
  @include media(desktopXXL) {
    width: 100%;
  }

  .info {
    color: $color-blanco;
    margin: 0;
    line-height: 30px;

    h4 {
      margin-bottom: 2rem;
    }

    p {
      margin: 0;
    }
  }
}
