body {
  h1,
  h2,
  h3,
  h4,
  h5,
  strong {
    font-family: $montserrat-bold;
  }
  .form-control {
    width: 200px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    &:focus {
      box-shadow: $color-shadow-button;
      border-color: $color-border-button;
    }
  }
}
