html {
  height: 100%;
  // overflow-y: hidden;

  body {
    background: $color-gris;
    height: 100%;
    color: $color-letra-gris;
    h1,
    h2,
    h3,
    h4,
    h5,
    strong {
      font-family: $montserrat-bold;
    }

    p,
    span {
      font-family: $montserrat-regular;
    }
    form {
      font-family: $montserrat-regular;
    }
    .form-control {
      border: 1px solid $border-inputs;
      border-radius: 23px;
      width: 255px;

      &::placeholder {
        color: $color-gris-placeholder;
      }

      &:hover {
        border: 1px solid $color-rosa;
      }

      &:focus {
        box-shadow: $color-shadow-button;
        border-color: $color-border-button;
      }
    }
  }

  .btn {
    color: $color-blanco;
    width: fit-content;
    padding: 8px 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;

    &:hover {
      color: $color-blanco;
    }
  }
  .btn-rosa {
    background-color: $color-rosa !important;
    border-color: $color-rosa !important;
    &:hover {
      background-color: $color-rosa-oscuro !important;
      border-color: $color-rosa-oscuro !important;
    }
    &:active {
      color: $color-blanco !important;
    }

    &:focus-visible {
      box-shadow: $color-shadow-button;
    }
  }
  .btn-azul {
    background-color: $color-azul !important;
    border-color: $color-azul !important;

    &:active {
      color: $color-blanco !important;
    }

    &:hover {
      background-color: $color-azul-oscuro !important;
      border-color: $color-azul-oscuro !important;
    }
    &:focus-visible {
      box-shadow: $color-shadow-button;
    }
  }
  .btn-gris {
    background-color: $color-gris-v2 !important;
    border-color: $color-gris-v2 !important;

    &:active {
      color: $color-blanco !important;
    }

    &:hover {
      background-color: $color-gris-v3 !important;
      border-color: $color-gris-v3 !important;
    }
    &:focus-visible {
      box-shadow: $color-shadow-button;
    }
  }

  /* sidebar.css */
  .ant-menu .ant-menu-item,
  .ant-menu .ant-menu-submenu,
  .ant-menu .ant-menu-submenu-title {
    border-radius: 23px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
  }

  .spin-login {
    .ant-spin-dot-item {
      color: $color-blanco;
    }
  }

  .ant-popover-inner-content {
    font-size: 14px;
  }

  .ant-popover-title {
    font-family: $montserrat-bold;
    color: $color-letra-gris;
  }

  .custom-spinner {
    .ant-spin-dot {
      color: pink !important;
    }
  }

  .ant-menu-item,
  > .ant-menu .ant-menu-item,
  .ant-menu-submenu-title,
  > .ant-menu .ant-menu-submenu-title {
    color: rgb(255, 255, 255) !important;
  }
  .requerido-msj {
    font-size: 13.2px;
    color: red;
  }
}
